<hr/>
<div class="row">
    <div class="col-xs-4">
        <h3>DISCOVER</h3>
        <p>Tours & Excursions</p>
        <p>Sightseeing</p>
        <p>Food & Drinks</p>
        <p>Art & Culture</p>
        <p>Events</p>
    </div>
    <div class="col-xs-4">
        <h3>CONTACT US</h3>
        <p>+41*********</p>
        <p>info&#64;tourismus.com</p>
    </div>
    <div class="col-xs-4">
        <h3>TOURIST INFORMATION</h3>
        <p>Im Hauptbahnhof</p>
        <p>8001 Zürich</p>
        <p>Monday to Saturday, 8.30am-7.00pm</p>
        <p>Saturday, 9.00am-6.00pm</p>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-xs-12 text-center">
        <h3>© 2024 Tourismus</h3>
    </div>
</div>
